aclocal.m4
*.ami
autom4te.cache
config.cache
config.guess
config.h*
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
.deps
install-sh
ldap-server.pot
libtool
ltmain.sh
Makefile
Makefile.am
Makefile.am.common
Makefile.in
missing
mkinstalldirs
*.m4
Session.vim
stamp-h
stamp-h1
